<ion-view title="Configurações">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">
      Voltar
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ul class="list">
      <li class="item item-toggle">
        Developer mode
        <label class="toggle toggle-assertive">
          <input ng-model="config.developerMode" type="checkbox">
          <div class="track">
            <div class="handle">
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
